Repository michael-lazar/moebius-beyond: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  pass_filenames: true

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true

Fix alt+mwheel scrolling, fixes #50
  CHANGELOG.md
  app/document/input/mouse.js
Due: eslint, prettier

Add grayscale mode
  CHANGELOG.md
  app/document/doc.js
  app/document/palette.js
  app/document/ui/ui.js
  app/libtextmode/font.js
  app/menu.js
  typed.d.ts
Due: eslint, prettier

Fix bug in grayscale mode
  app/document/ui/ui.js
Due: eslint, prettier

Add preview zoom toggle between 1x and 2x
  CHANGELOG.md
  app/document/ui/canvas.js
  app/document/ui/ui.js
  app/menu.js
Due: eslint, prettier

Convert preview zoom to sliding scale with multiple levels
  CHANGELOG.md
  app/document/ui/ui.js
  app/menu.js
Due: eslint, prettier

Fix edge case in preview zoom scrolling. Fixes #52
  app/document/ui/canvas.js
Due: eslint, prettier

Fix zooming edge case
  CHANGELOG.md
  app/document/ui/canvas.js
Due: eslint, prettier

Fix zooming after resize, fixes #51
  CHANGELOG.md
  app/document/ui/canvas.js
  app/document/ui/ui.js
Due: eslint, prettier

Bumping version
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Update screenshot
  README.md
  example.png
Due: prettier

Improve sharpness of charlist selector
  CHANGELOG.md
  app/css/document.css
Due: prettier

Refactoring brush methods into a class
  app/document/tools/brush.js
  app/document/tools/brushes.js
  app/document/tools/ellipse_outline.js
  app/document/tools/line.js
  app/document/tools/rectangle.js
  app/document/ui/ui.js
  typed.d.ts
Due: eslint, prettier

Simplify repeated offset calculations
  app/document/tools/brushes.js
  typed.d.ts
Due: eslint, prettier

Add circle brush shapes and shape-aware cursor outline
  app/document/tools/brush.js
  app/document/tools/brush_shapes.js
  app/document/tools/brushes.js
  typed.d.ts
Due: eslint, prettier

Add brush shape dropdown to toolbar UI
  app/css/toolbar.css
  app/document/tools/brush_shapes.js
  app/document/tools/brushes.js
  app/document/ui/ui.js
  app/html/document.html
Due: eslint, prettier

Migrate toolbar layout from floats to flexbox
  app/css/toolbar.css
  app/document/ui/ui.js
  app/html/document.html
Due: eslint, prettier

Convert brush size chooser to select box and add Round 2x1 shape
  app/css/toolbar.css
  app/document/tools/brush_shapes.js
  app/document/tools/brushes.js
  app/document/ui/ui.js
  app/html/document.html
Due: eslint, prettier

Combine half block and full block brushes
  app/document/tools/brush.js
  app/document/tools/brush_shapes.js
  app/document/tools/brushes.js
  typed.d.ts
Due: eslint, prettier

Remove dead files
  app/document/tools/ellipse.js
  app/document/tools/rectangle.js
Due: eslint, prettier

Refactoring
  app/document/tools/brush.js
  app/document/tools/brushes.js
  app/document/tools/ellipse_filled.js
  app/document/tools/ellipse_outline.js
  app/document/tools/line.js
  app/document/tools/rectangle_filled.js
  app/document/tools/rectangle_outline.js
  app/document/ui/ui.js
  test/document_load_and_save.test.js
  typed.d.ts
Due: eslint, prettier

Split brush shapes
  app/document/tools/brush_shapes.js
Due: eslint, prettier

Add changelog entry
  CHANGELOG.md
Due: prettier

Fix brush outline causing scrollbars when cursor moves to viewport edge (resolves #55)
  CHANGELOG.md
  app/document/tools/brush.js
Due: eslint, prettier

Fix focus shifting to reference window when closing attribute picker (resolves #54)
  CHANGELOG.md
  app/moebius.js
Due: eslint, prettier

Fix preview panel width not matching zoom level after collapse/expand (resolves #56)
  CHANGELOG.md
  app/document/ui/ui.js
  test/document_load_and_save.test.js
Due: eslint, prettier

Allow dragging selection outside of top/left of canvas (resolves #57)
  CHANGELOG.md
  app/document/tools/cursor.js
  app/document/tools/select.js
  app/document/ui/ui.js
Due: eslint, prettier

Apply grayscale mode to reference picture
  CHANGELOG.md
  app/css/document.css
  app/document/ui/ui.js
Due: eslint, prettier

Refactor grayscale mode to use CSS filters
  CHANGELOG.md
  app/css/document.css
  app/document/doc.js
  app/document/palette.js
  app/document/ui/ui.js
  app/libtextmode/font.js
  typed.d.ts
Due: eslint, prettier

Fix black (0) foreground attribute being reset to the default color when loading MBD files (resolves #59)
  CHANGELOG.md
  app/libtextmode/moebius_document.js
  test/document_load_and_save.test.js
Due: eslint, prettier

Fix font height not being saved in XBin and MBD files with custom fonts (resolves #60)
  CHANGELOG.md
  app/libtextmode/moebius_document.js
  app/libtextmode/textmode.js
  app/libtextmode/xbin.js
  test/document_load_and_save.test.js
Due: eslint, prettier

Use system fpm when building Linux packages to fix rpm builds with rpm >= 4.20
  package.json
Due: prettier

fix: CVE-2026-34769 security vulnerability
  package-lock.json
  package.json
Due: prettier

Build Linux packages for both x86_64 and arm64
  CHANGELOG.md
  electron-builder.yml
Due: prettier

Update prep-release script for architecture-specific Linux package filenames
  tools/prep-release
Due: none

Add Windows arm64 support and Linux AppImage packages
  CHANGELOG.md
  electron-builder.yml
  tools/prep-release
Due: prettier

Fix ANSI files without a SAUCE record opening as blank documents
  CHANGELOG.md
  app/libtextmode/ansi.js
  test/document_load_and_save.test.js
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js)$
  prettier: any of: \.(js|json|md|yaml|yml)$
