Repository michael-lazar/moebius-beyond: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: eslint
            name: ESLint
            entry: npx eslint
            language: system
            files: \.(js)$
            pass_filenames: true
          - id: prettier
            name: Prettier
            entry: npx prettier --write
            language: system
            files: \.(js|json|md|yaml|yml)$
            pass_filenames: true

Improve Electron test fixture with security warning suppression and console logging.
  test/fixtures/electronApp.js
Due: eslint, prettier

Fix Electron app loading in Playwright tests by correcting working directory and module paths.
  test/app/document/doc.test.js
  test/fixtures/electronApp.js
Due: eslint, prettier

Add --no-splash command line option for testing and revert to working test approach.
  app/moebius.js
  test/app/document/doc.test.js
  test/data/icon.png
  test/fixtures/electronApp.js
Due: eslint, prettier

Optimize canvas performance by adding willReadFrequently attribute to resolve Canvas2D warnings.
  app/libtextmode/canvas.js
Due: eslint, prettier

Add user preference to skip splash screen at startup.
  app/html/preferences.html
  app/moebius.js
  app/prefs.js
  app/windows/preferences.js
Due: eslint, prettier

Update wording
  CHANGELOG.md
  CLAUDE.md
Due: prettier

Reorganize test files into flat structure grouped by function.
  test/app_launch.test.js
  test/document_loading.test.js
  test/ui_reference_image.test.js
Due: eslint, prettier

Add document round trip tests using TextModeDoc.
  app/document/doc.js
  test/document_roundtrip.test.js
Due: eslint, prettier

Refactor TextModeDoc from singleton to instance-based architecture by converting global doc/render variables to instance variables.
  app/document/doc.js
Due: eslint, prettier

Update document_loading.test.js to use TextModeDoc class instead of libtextmode for better test coverage.
  test/document_loading.test.js
Due: eslint, prettier

Update document_roundtrip.test.js to use TextModeDoc class instances for better test isolation.
  test/document_roundtrip.test.js
Due: eslint, prettier

Remove touchbar support
  CHANGELOG.md
  app/document/tools/cursor.js
  app/document/ui/ui.js
  app/moebius.js
  app/touchbar.js
  app/window.js
Due: eslint, prettier

Add docstring to TextModeDoc class explaining its structure and relationships.
  CHANGELOG.md
  app/document/doc.js
Due: eslint, prettier

Update test logging
  test/fixtures/electronApp.js
Due: eslint, prettier

Add document window initialization signal for tests.
  app/moebius.js
  test/document_roundtrip.test.js
  test/fixtures/electronApp.js
Due: eslint, prettier

Add reference documentation
  CLAUDE.md
  reference/SAUCE - Standard Architecture for Universal Comment Extensions - Revision 5.html
  reference/XBIN.TXT
Due: prettier

I'm starting to figure out how to do this.
  electron-builder.yml
  test/document_loading.test.js
  test/document_roundtrip.test.js
  test/ui_reference_image.test.js
Due: eslint, prettier

Normalize test files
  test/data/darokin-david.asc
  test/data/file_id.diz
  test/data/goo-unrein.bin
  test/data/hermanas.nfo
  test/data/mozz-night-moon.xb
Due: none

Add MBXD file format for internal document storage.
  CHANGELOG.md
  app/controller.js
  app/document/input/drag_and_drop.js
  app/libtextmode/libtextmode.js
  app/libtextmode/moebius_document.js
  app/moebius.js
  reference/MBXD.md
  test/data/birds-blue.mbxd
  test/document_load_and_save.test.js
  test/document_loading.test.js
  test/document_roundtrip.test.js
Due: eslint, prettier

Wording
  CHANGELOG.md
Due: prettier

Add clickable canvas dimensions in status bar
  CHANGELOG.md
  app/css/document.css
  app/document/ui/ui.js
  app/moebius.js
Due: eslint, prettier

Add drag-and-drop option to open reference images in window.
  CHANGELOG.md
  app/document/input/drag_and_drop.js
  app/moebius.js
Due: eslint, prettier

Update claude
  CLAUDE.md
Due: prettier

Update README.md
  README.md
Due: prettier

Rename to Moebius Beyond
  CHANGELOG.md
  README.md
  app/controller.js
  app/document/input/drag_and_drop.js
  app/html/document.html
  app/libtextmode/libtextmode.js
  app/libtextmode/moebius_document.js
  app/menu.js
  app/moebius.js
  electron-builder.yml
  package-lock.json
  package.json
  reference/MBD - Moebius Beyond Doument Format.md
  test/data/birds-blue.mbxd
  test/document_load_and_save.test.js
  tools/prep-release
Due: eslint, prettier

Working on splash screen
  build/ans/mozz-moebiusX.xb
  build/icons/facebook_page_profile.png
Due: none

working on splash screen
  app/css/splash_screen.css
  app/html/splash_screen.html
  build/ans/mozz-moebiusX.xb
Due: none

Update splash screen layout and dimensions.
  app/css/splash_screen.css
  app/html/splash_screen.html
  app/moebius.js
  build/ans/mozz-moebiusX.xb
Due: eslint, prettier

Fix packaged app detection in renderer processes.
  app/libtextmode/moebius_document.js
  app/windows/acknowledgements.js
  app/windows/changelog.js
  app/windows/cheatsheet.js
  app/windows/numpad_mappings.js
  app/windows/splash_screen.js
  electron-builder.yml
Due: eslint, prettier

tweaking changelog wording
  CHANGELOG.md
Due: prettier

Update MBD format to use gzip compression and version 1.
  CHANGELOG.md
  app/libtextmode/moebius_document.js
  reference/MBD - Moebius Beyond Doument Format.md
  test/data/birds-blue.mbd
  test/data/birds-blue.mbxd
  test/document_load_and_save.test.js
Due: eslint, prettier

Bumping version
  CHANGELOG.md
  package.json
  reference/MBD - Moebius Beyond Doument Format.md
Due: prettier

Add --show-dev-tools command line flag for automatic DevTools opening.
  app/moebius.js
Due: eslint, prettier

Make the charlist a floating window in the viewport
  app/css/document.css
  app/html/document.html
Due: none

Add titlebar to charlist window showing current font name.
  app/css/document.css
  app/document/ui/ui.js
  app/html/document.html
  app/img/close.png
  app/img/x.png
Due: eslint, prettier

Add zoom toggle button to charlist window for switching between 1x and 2x display.
  app/css/document.css
  app/document/ui/ui.js
  app/html/document.html
  app/menu.js
Due: eslint, prettier

Implement draggable charlist window with boundary constraints and fixed positioning.
  app/css/document.css
  app/document/input/mouse.js
  app/document/ui/ui.js
Due: eslint, prettier

Implement draggable charlist window with viewport positioning and fix cursor border clipping.
  app/css/document.css
  app/document/ui/ui.js
Due: eslint, prettier
