Repository michael-lazar/moebius-beyond: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: eslint
            name: ESLint
            entry: npx eslint
            language: system
            files: \.(js)$
            pass_filenames: true
          - id: prettier
            name: Prettier
            entry: npx prettier --write
            language: system
            files: \.(js|json|md|yaml|yml)$
            pass_filenames: true

Cut off long font names
  app/css/document.css
Due: none

Add reset position button to charlist window titlebar with arrow icon.
  app/css/document.css
  app/document/ui/ui.js
  app/html/document.html
  app/img/arrow_outward.png
Due: eslint, prettier

polish
  app/css/document.css
Due: none

Add charlist visibility toggle button to statusbar next to font name.
  app/css/document.css
  app/document/ui/ui.js
  app/html/document.html
  app/img/visibility.png
  app/img/visibility_off.png
  app/menu.js
Due: eslint, prettier

Update changelog
  CHANGELOG.md
Due: prettier

Drop unused icons
  app/img/close.png
  app/img/x.png
Due: none

Keep charlist window within bounds on resize and zoom toggle.
  app/document/ui/ui.js
Due: eslint, prettier

Fix reference tool to skip charlist window events like mouse handler.
  app/document/tools/reference.js
Due: eslint, prettier

Adjust button height
  app/css/document.css
Due: none

Clean up remnants of non-dark mode theme
  app/css/document.css
  app/css/global.css
  app/css/toolbar.css
  app/html/document.html
  app/html/fkey_prefs.html
  app/html/rendering.html
  app/html/resize.html
  app/html/sauce.html
  app/html/select_attribute.html
Due: none

flip-flopping
  app/css/document.css
Due: none

Auto-activate custom block mode when clicking in character palette.
  CHANGELOG.md
  app/document/ui/ui.js
Due: eslint, prettier

Hide brush size chooser when using tools that don't support brush sizes.
  app/document/ui/ui.js
Due: eslint, prettier

Replace split-button logic with toggle behavior for rectangle and ellipse tools.
  CHANGELOG.md
  app/document/ui/ui.js
Due: eslint, prettier

Reorganize charlist titlebar with close functionality and new layout.
  app/css/document.css
  app/document/ui/ui.js
  app/html/document.html
  app/img/close.png
Due: eslint, prettier

Add preview toggle button with active state styling.
  app/css/document.css
  app/document/ui/ui.js
  app/html/document.html
  app/menu.js
Due: eslint, prettier

Add toolbar toggle button to right sidebar with active state styling.
  app/css/document.css
  app/document/ui/ui.js
  app/html/document.html
  app/menu.js
Due: eslint, prettier

Add status bar toggle button to right sidebar with active state styling.
  app/css/document.css
  app/document/ui/ui.js
  app/html/document.html
  app/menu.js
Due: eslint, prettier

Add character palette toggle button and synchronize charlist event listeners.
  app/css/document.css
  app/document/ui/ui.js
  app/html/document.html
Due: eslint, prettier

Change the default save format back to xb
  app/controller.js
Due: eslint, prettier

Polish
  CHANGELOG.md
  app/html/document.html
  app/menu.js
Due: eslint, prettier

Bump release
  CHANGELOG.md
  package.json
Due: prettier

Bump package-lock
  package-lock.json
Due: prettier

Fix the color picker
  CHANGELOG.md
  app/css/document.css
  app/document/palette.js
  app/moebius.js
Due: eslint, prettier

Remove old debug statements
  app/document/doc.js
  app/document/ui/ui.js
  app/window.js
Due: eslint, prettier

Add test for true color
  app/libtextmode/ansi.js
  test/data/true_color.ans
  test/document_load_and_save.test.js
Due: eslint, prettier

Refactor palette nonsense
  app/document/doc.js
  app/document/palette.js
  app/libtextmode/ansi.js
  app/libtextmode/textmode.js
  test/document_load_and_save.test.js
Due: eslint, prettier

prettier
  app/css/document.css
  reference/SAUCE - Standard Architecture for Universal Comment Extensions - Revision 5.html
Due: none

Fix save as to use the .xb extension by default
  CHANGELOG.md
  app/controller.js
Due: eslint, prettier

Bump version
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Dropping unused imports
  app/document/tools/fill.js
  app/libtextmode/ansi.js
  app/libtextmode/font.js
  app/modals/resize.js
  app/moebius.js
  app/window.js
  app/windows/acknowledgements.js
  app/windows/changelog.js
  app/windows/cheatsheet.js
  app/windows/controlcharacters.js
  app/windows/numpad_mappings.js
  app/windows/preferences.js
Due: eslint, prettier

Remove unused opts
  app/document/doc.js
  app/libtextmode/libtextmode.js
Due: eslint, prettier

Remove dead code
  app/document/doc.js
  app/libtextmode/libtextmode.js
Due: eslint, prettier

Refactor duplicate handler to use TextModeDoc method.
  app/controller.js
  app/document/doc.js
Due: eslint, prettier

Extract control character detection to TextModeDoc method.
  app/controller.js
  app/document/doc.js
Due: eslint, prettier

Refactor crop functionality to use TextModeDoc method.
  app/document/doc.js
  app/document/tools/cursor.js
Due: eslint, prettier

Refactor resize functionality to use TextModeDoc method and fix client detection.
  app/document/doc.js
  app/document/ui/ui.js
  app/libtextmode/libtextmode.js
  app/libtextmode/textmode.js
Due: eslint, prettier

Refactoring code that mutates the Textmode object
  app/document/doc.js
  app/libtextmode/ansi.js
  app/libtextmode/libtextmode.js
  app/libtextmode/moebius_document.js
  app/libtextmode/textmode.js
  app/libtextmode/xbin.js
Due: eslint, prettier

Refactoring remove ice colors
  app/controller.js
  app/document/doc.js
  app/libtextmode/libtextmode.js
Due: eslint, prettier
